body {
  background-color: #000000;
}


#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
    color: white;
}

/* the slideshow which is running in the background*/
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: AnimationofImage 40s linear 3s infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=2238&q=80);
}
.slideshow li:nth-child(2) { 
  background-image: url(https://static.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://static.pexels.com/photos/326279/pexels-photo-326279.jpeg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://static.pexels.com/photos/8313/food-eating-potatoes-beer-8313.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://static.pexels.com/photos/106343/pexels-photo-106343.jpeg);
  animation-delay: 40s; 

}
.slideshow li:nth-child(6) { 
  background-image: url(https://images.unsplash.com/photo-1504544750208-dc0358e63f7f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=be3aa106f944edc77c68fcd567c22bbb&auto=format&fit=crop&w=600&q=60);
  animation-delay: 20s; 

}
.slideshow li:nth-child(7) { 
  background-image: url(https://images.unsplash.com/photo-1473093226795-af9932fe5856?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3bf6fd384a4045ad91b8f08279f02ab8&auto=format&fit=crop&w=600&q=60);
  animation-delay: 20s; 

}
.slideshow li:nth-child(8) { 
  background-image: url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0245bb4e87077312cc3d102e68c1efd&auto=format&fit=crop&w=600&q=60);
  animation-delay: 20s; 

}
.slideshow li:nth-child(9) { 
  background-image: url(https://images.unsplash.com/photo-1432139509613-5c4255815697?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=616fc216eff2732910545ebd5d5018b6&auto=format&fit=crop&w=600&q=60);
  animation-delay: 20s; 

}
.slideshow li:nth-child(9) { 
  background-image: url(https://images.unsplash.com/photo-1495461199391-8c39ab674295?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7baeff72dbf865f4ca4267cbe433b4cb&auto=format&fit=crop&w=600&q=60);
  animation-delay: 20s; 

}




@keyframes AnimationofImage { 
  0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
  }
  10% {
      opacity: 1;
      animation-timing-function: ease-out;
  }
  20% {
      opacity: 1;
      animation-timing-function: ease-in;
  }
  30% {
      opacity: 0;
      animation-timing-function: ease-out;
  }
  40% {
      opacity: 0;
      animation-timing-function: ease-out;

  }
   30% {
      opacity: 0;
      animation-timing-function: ease-out;

  }

}
